<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Fivespark Sparks</h4>
                <ul>
                    <li><a href="#">Managed services</a></li>
                    <li><a href="#">Software development</a></li>
                    <li><a href="#">Connectiviteit</a></li>
                    <li><a href="#">Hardware</a></li>
                    <li><a href="#">Adoptie</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Heb je dit al bekeken?</h4>
                <ul>
                    <li><a href="#">Onze laatste blog</a></li>
                    <li><a href="#">Over ons</a></li>
                    <li><a href="#">Pers</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Contact Ons</h4>
                <ul>
                    <li><a href="#">Klantenportaal</a></li>
                    <li><a href="#">Telefoon</a></li>
                    <li><a href="#">Email</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Volg Ons</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/scripts/main.js" defer></script>
</body>
</html>