
<!-- Contact Section -->
<section id="contact" aria-label="Contact Information">
    <div class="contact container">
      <div>
        <h1 class="section-title">Klanten<span>Service</span></h1>
      </div>
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><img src="/style/img/phone.png" loading="lazy" alt="image icon phone" width="30px" height="30px"/></div>
          <div class="contact-info">
            <h1>Liever Bellen?</h1>
            <h2>088 - 411 00 33</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="/style/img/mail.png" loading="lazy" alt="image icon mail" width="30px" height="30px"/></div>
          <div class="contact-info">
            <h1>Email</h1>
            <h2>service@fivespark.com</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="/style/img/map.png" loading="lazy" alt="image icon map" width="30px" height="30px"/></div>
          <div class="contact-info">
                <h1>Hoofdkantoor</h1>
                <h2>
                  Gondel 1,
                  1186 MJ Amstelveen</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
   <!-- Footer -->
   <section id="footer" aria-label="Footer">
    <div class="footer container">
      <div class="brand">
      </div>
      <h2>Ontdek wat Fivespark voor jou kan betekenen</h2>
      <div class="social-icon">
        <div class="social-item">
          <a href="#"><img src="/style/img/facebook.png" loading="lazy" alt="image icon facebook" width="20px" height="20px"/></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="/style/img/link.png" loading="lazy" alt="image icon linkedin" width="20px" height="20px"/></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="/style/img/insta.png" loading="lazy" alt="image icon instagram" width="20px" height="20px"/></a>
        </div>
    </div>
   <p>Copyright © 2023 Fivespark. All rights reserved</p>
  </section>
<script src="/scripts/main.js" defer></script>
</body>
</html>