<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Fivespark</title>
    <link rel="shortcut icon" href="https://fivespark.com/hubfs/favicon.svg">
    <link rel="stylesheet" href="/style/style.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

    </head>
    <body>
      <!-- loader -->
      <div id="preloader"></div>
      <style>
            #preloader{
        background: var(--wit) url(/style/img/gift.gif) no-repeat center center;
        background-size: 10%;
        width: 100%;
        height: 100vh;
        position: fixed;
        z-index: 100;
    }
      </style> 
      <nav class="navbar">
    <div class="content">
      <div class="logo">
        
        <a href="#">Fivespark</a>
      </div>
      <ul class="menu-list">
        <div class="icon cancel-btn">
          <i class="fas fa-times"></i>
        </div>
        <li><a href="#">De digitale werkplek</a></li>
        <li><a href="#">Klanten</a></li>
        <li><a href="#">Kennis</a></li>
        <li><a href="#">Over Ons</a></li>
        <li><a href="#">Plan een Demo</a></li>
      </ul>
      <div class="icon menu-btn">
        <i class="fas fa-bars"></i>
      </div>
    </div>
  </nav>

  <div class="banner"></div>
  <h1>Fivespark is een full service provider die IT weer makkelijk maakt</h1>
  <hr class="hr"></hr>
  <div class="p">Bekijk ons service contracten</div>
  <div class="scroll-down"></div>