@import url('https://fonts.cdnfonts.com/css/t-star-pro');
 /* CUSTOM PROPERTIES */
:root {
    /* Basis Kleuren*/
    --geel: #ffc200;
    --wit: #ffffff;
    --zwart: #000000;

   /* Accentkleur*/
    --zwart75: #404040;
    --zwart50:#808080;
    --zwart25:#BFBFBF;
    --zwart50:#808080;
    --zwart75: #404040;
    --shadow: #eeeeee7d;
    --shadow2: #eaeaea;
    --surface-color: #fff;
    --curve: 20;
    /* Font Family */
    --font-family: 'T-Star Pro', sans-serif;
  
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content{
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
}
.navbar{
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 25px 0;
  transition: all 0.3s ease;
}
.navbar.sticky{
  background: var(--wit);
  padding: 10px 0;
  box-shadow: 0px 0px 10px #ccc;
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  color: var(--geel);
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: var(--geel);
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color: var(--zwart75);
}
.banner{
  background: url("/style/img/home1.jpg") no-repeat;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.999;
}

h1{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  color: var(--wit);
  font-size: 1.5rem;

}
hr.hr{
  border-top: 4px solid var(--geel);
  border-radius: 30%;
  width: 45%;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p{
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  color: var(--wit);
  font-size: 1.4rem;
}
.about{
  padding: 30px 0;
}
.about .title{
  font-size: 38px;
  font-weight: 700;
}
.about p{
  padding-top: 20px;
  text-align: justify;
}
.icon{
  color: var(--geel);
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}
@media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
 

}
@media (max-width: 1100px) {
  .content{
    padding: 0 40px;
  }
 
}
@media (max-width: 900px) {
  .content{
    padding: 0 30px;
  }
}
@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background-color: var(--zwart75);
    opacity: 0.85;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }
}
@media (max-width: 380px) {
  .navbar .logo a{
    font-size: 27px;
  }
  .banner{
    width: 100vw;
  }
}

.scroll-down {
  height: 65px;
  width: 65px;
  border: 2.5px solid var(--geel);
  position: absolute;
  left: 47%;
  bottom: 50px;
  border-radius: 50px;
  cursor: pointer;
}
.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 28%;
  left: 48%;
  height: 23px;
  width: 23px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 3px solid var(--geel);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::before {
  top: 30%;
  animation-delay: 0.3s;
}

@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}
h2{
  text-align: center;
  color: var(--geel);
  margin-top: 20px;
}
  .wrapper{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-gap: 15px;
      margin: 50px;
      padding: 0px 20px;
  
  }
  .pricing-table{
     box-shadow: 0px 0px 18px #ccc;
     text-align: center;
     padding: 30px 0px;
     border-radius: 5px;
     position: relative;
   
  }
  .pricing-table .head {
      border-bottom:1px solid #eee;
      padding-bottom: 50px;
      transition: all 0.5s ease;
  }
  .pricing-table:hover .head{
     border-bottom:1px solid #ffc200;
     
  }
  
  .pricing-table .head .title{
      margin-bottom: 20px;
      font-size: 20px;
      font-weight: 700;
  }
  
  .pricing-table .content .price{
    background:linear-gradient(to right, #ffdb64 0%, #ffc200 100%);
     width: 90px;
      height: 90px;
      margin: auto;
      line-height: 90px;
      border-radius: 50%;
      border: 5px solid #fff;
      box-shadow: 0px 0px 10px #ccc;
      margin-top: -50px;
       transition: all 0.5s ease;
  }
  .pricing-table:hover .content .price{
      transform: scale(1.2);
   
  }
  .pricing-table .content .price h1{
      color:#fff;
      font-size: 30px;
      font-weight: 700;
  }
  .pricing-table .content ul{
     list-style-type: none;
     margin-bottom: 20px;
     padding-top: 10px;
  }
  
  .pricing-table .content ul li{
      margin: 20px 0px;
      font-size: 14px;
      color:#555;
  }
  
  .pricing-table .content .sign-up{
      background:linear-gradient(to right, #ffdb64 0%, #ffc200 100%);
      border-radius: 40px;
      font-weight: 500;
      position: relative;
      display: inline-block;
  }
  
  
  .pricing-table .btn {
    color: #fff;
    padding: 14px 40px;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3 linear;
    transition: all 0.3 linear;
    border: none;
    font-size: 14px;
    text-transform: capitalize;
    position: relative;
    text-decoration: none;
    margin: 2px;
    z-index: 9999;
    text-decoration: none;
    border-radius:50px;
   
  }
  
  .pricing-table .btn:hover{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  }
  
  .pricing-table .btn.bordered {
    z-index: 50;
    color: #333;
  }
  .pricing-table:hover .btn.bordered{
    color:#fff !important;
  }
  h3{
    text-align: center;
    color: var(--wit);
  }
  
  .pricing-table .btn.bordered:after {
    background: #fff none repeat scroll 0 0;
    border-radius: 50px;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3 linear;
    transition: all 0.3 linear;
    width: 100%;
    z-index: -1;	
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    transform:scale(1);
  }
  .pricing-table:hover .btn.bordered:after{
    opacity:0;
    transform:scale(0);
  }
  
  @media screen and (max-width:768px){
     .wrapper{
          grid-template-columns: repeat(2,1fr);
      } 
  }
  
  @media screen and (max-width:600px){
     .wrapper{
          grid-template-columns: 1fr;
      } 
  }


  .container{
    max-width: 1170px;
    margin:auto;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  ul{
    list-style: none;
  }
  .footer{
    background-color: rgba(0, 0, 0, 0.813);
    padding: 70px 0;
  }
  .footer-col{
     width: 25%;
     padding: 0 15px;
  }
  .footer-col h4{
    font-size: 18px;
    color: var(--geel);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: var(--geel);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: var(--wit);
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }
  
  /*responsive*/
  @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }
  
  
  
  
  
  