<%- include('./partials/head.ejs') %>
<!-- <% if (Array.isArray(data)) { %>
  <% data.forEach(activities => { %>
    <h2><%= activities.title %></h2>
    <p><%= activities.description %></p>
  <% }) %>
<% } else { %>
  <p>No data available.</p>
<% } %> -->
<h2>Activiteit title</h2>
<div class="wrapper">
          <div class="pricing-table">
              <div class="head">
                  <h4 class="title"></h4>
              </div>
              <div class="content">
                  <div class="price">
                      <h3>titel</h3>
                  </div>
                  <ul>
                      <li>activiteit</li>
                      <li><del>activitei</del>
                  </ul>
                  <div class="sign-up">
                      <a href="#" class="btn bordered radius">Signup Now</a>
                  </div>
              </div>
          </div>
</div>



<%- include('./partials/foot.ejs') %>