<%- include('./partials/head.ejs') %>
<!-- blog slider moet nog alleen data erin -->
    <div class="blog-slider">
        <div class="blog-slider__wrp swiper-wrapper">
          <div class="blog-slider__item swiper-slide">
            <div class="blog-slider__img">
              <!-- performance -->
              <img class="img" src="/style/img/1.png" alt="foto" width="150" height="150" loading="lazy">
            </div>
            <div class="blog-slider__content">
              <span class="blog-slider__code ">lorem</span>
              <div class="blog-slider__title">Lorem Ipsum Dolor</div>
              <div class="blog-slider__text">Lorem ipsum, dolor sit amet consectetur 
                adipisicing elit. Eos esse vero cumque pariatur.
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae, nostrum dolore ad blanditiis inventore laudantium sunt repellendus iusto ex architecto temporibus voluptate, minus magni distinctio, neque tempora harum ab voluptatem.</div>
                <a href="#" class="blog-slider__button">Bekijk de service contracten</a>
            </div>
          </div>
    
          <div class="blog-slider__item swiper-slide">
            <div class="blog-slider__img">
              <img src="/style/img/3.png" alt="foto" width="150" height="150" loading="lazy">
            </div>
            <div class="blog-slider__content">
              <span class="blog-slider__code">lorem</span>
              <div class="blog-slider__title">Lorem Ipsum Dolor</div>
              <div class="blog-slider__text">Lorem ipsum, dolor sit amet consectetur 
                adipisicing elit. Eos esse vero cumque pariatur.
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit minus similique modi, quidem sed dolorum. Deserunt ut aliquam, aspernatur exercitationem nemo nostrum, rerum soluta expedita consequuntur voluptatum deleniti, saepe reiciendis.</div>
                <a href="#" class="blog-slider__button">Bekijk de service contracten</a>
            </div>
          </div>
          <div class="blog-slider__item swiper-slide">
            <div class="blog-slider__img">
              <img src="/style/img/4.png" alt="foto" width="150" height="150" loading="lazy">
            </div>
            <div class="blog-slider__content">
              <span class="blog-slider__code">lorem</span>
              <div class="blog-slider__title">Lorem Ipsum Dolor</div>
              <div class="blog-slider__text">Lorem ipsum, dolor sit amet consectetur 
                adipisicing elit. Eos esse vero cumque pariatur.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis explicabo molestias repellat, quas, nostrum incidunt veniam sequi maxime eligendi a adipisci qui fugit nulla doloremque doloribus cumque perspiciatis velit ut?</div>
                <a href="#" class="blog-slider__button">Bekijk de service contracten</a>
            </div>
          </div>
        </div> 
        <div class="blog-slider__pagination"></div>
      </div>

<%- include('./partials/foot.ejs') %>